<!DOCTYPE html>
<html lang="pt-br">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Funcionários</title>
    <link rel="stylesheet" href="{% static 'health/css/global/global.css' %}">
    <link rel="stylesheet" href="{% static 'health/css/funcionarios/funcionarios.css' %}">
</head>

<body>
    <main class="container">
        <!-- MENU LATERAL -->
        <aside class="sidebar">
            <header>
                <div class="brand">Saúde Ocupacional</div>
            </header>
            <section>
                <div class="search">
                    <input type="text" placeholder="Buscar funcionário...">
                    <button>Buscar</button>
                </div>
                <nav>
                    <a href="{% url 'health:dashboard' %}">Dashboard</a>
                    <a href="{% url 'health:funcionarios' %}">Funcionários</a>
                    <a href="{% url 'health:relatorios' %}">Relatórios</a>
                    <a href="{% url 'health:configuracoes' %}">Configurações</a>
                    <a href="{% url 'health:painel' %}">Painel do Usuário</a>
                </nav>
            </section>
        </aside>
        <!-- CONTEÚDO -->
        <aside class="content">
            <div class="employees-content-body">
                <header class="page-header">
                    <h2>Funcionários</h2>
                </header>
                <!-- PESQUISA -->
                <div class="search-box">
                    <input type="text" id="searchInput" placeholder="Buscar por nome, cargo ou setor...">
                </div>
                <!-- LISTA -->
                <table class="employee-table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Cargo</th>
                            <th>Setor</th>
                            <th>Status Ocupacional</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody id="employeeTable">
                        <!-- JS -->
                    </tbody>
                </table>
            </div>
        </aside>
    </main>
    <script src="{% static 'health/js/global/sidebar-search.js' %}"></script>
    {{ employees_payloads|json_script:"employees-data" }}
    <script>
        const employees = JSON.parse(document.getElementById("employees-data").textContent);
        const canEditEmployees = {{ is_admin|yesno:"true,false" }};
    </script>
    <script src="{% static 'health/js/funcionarios/funcionarios.js' %}"></script>
</body>

</html>